* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  color: black;
}

.title {
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

#navbar {
  height: 275px;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid black;
}

.nav-list {
  border: 1px solid black;
  width: 100%;
}

.nav-list > li {
  border-bottom: 1px solid black;
  padding: 15px;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
  color: black;
  width: 100%;
}

.nav-link:visited {
  color: grey;
  font-weight: bold;
}

.nav-link:hover,
.nav-list > li:hover {
  background-color: lightyellow;
}

.nav-link:active {
  color: orange;
}

#main-doc {
  padding-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 80px;
}

header > h2 {
  padding-bottom: 20px;
}

.main-section > p {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 15px;
  padding-bottom: 15px;
}

.main-section > ul > li {
  margin-left: 40px;
  padding-bottom: 15px;
}

.code {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  padding: 15px;
  background-color: black;
}

.list-no-style {
  list-style: none;
}

.main-section > .list-no-style > .item-list-no-style {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}

.main-section > .list-no-style > .item-list-no-style > .code {
  margin-left: -10px;
}

.main-section {
  margin-bottom: 30px;
}

.second-list {
  margin-left: 15px;
  padding: 10px;
}
.second-list > li {
  margin-bottom: 10px;
}

@media all and (min-width: 768px) {
  .title {
    font-size: 30px;
  }

  #main-doc {
    margin-left: 30px;
    margin-right: 30px;
  }

  .main-section > p {
    margin-left: 20px;
  }

  .code {
    margin-left: 30px;
  }

  .main-section > .list-no-style > .item-list-no-style > .code {
    margin-left: 25px;
  }
}

@media all and (min-width: 1200px) {
  body {
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .title {
    font-size: 25px;
  }
  #navbar {
    width: 25%;
    height: 100%;
    border-right: 3px solid grey;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  #main-doc {
    width: 75%;
    position: absolute;
    left: 320px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .nav-list {
    border-top: 1px solid black;

    border-right: none;
    border-left: none;
  }
}
